---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=thailand&size=medium
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - pM242lEwV1dJUkkpY3gutJBOK2I3or2LU7QHmFvvKKLyl8WTMEkDZSZX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"020dafbdffbe80369aca33d4ac2eb624"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24979'
      X-Ratelimit-Reset:
      - '1712257988'
      X-Server:
      - bulldog
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":10,"photos":[{"id":2070485,"width":4000,"height":6000,"url":"https://www.pexels.com/photo/woman-wearing-blue-dress-with-umbrella-during-sunset-2070485/","photographer":"Oleksandr
        P","photographer_url":"https://www.pexels.com/@freestockpro","photographer_id":100512,"avg_color":"#5B4E37","src":{"original":"https://images.pexels.com/photos/2070485/pexels-photo-2070485.jpeg","large2x":"https://images.pexels.com/photos/2070485/pexels-photo-2070485.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/2070485/pexels-photo-2070485.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/2070485/pexels-photo-2070485.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/2070485/pexels-photo-2070485.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/2070485/pexels-photo-2070485.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/2070485/pexels-photo-2070485.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/2070485/pexels-photo-2070485.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Woman
        Wearing Blue Dress With Umbrella during Sunset"},{"id":1929611,"width":4000,"height":6000,"url":"https://www.pexels.com/photo/building-with-lights-1929611/","photographer":"Oleksandr
        P","photographer_url":"https://www.pexels.com/@freestockpro","photographer_id":100512,"avg_color":"#413736","src":{"original":"https://images.pexels.com/photos/1929611/pexels-photo-1929611.jpeg","large2x":"https://images.pexels.com/photos/1929611/pexels-photo-1929611.jpeg?auto=compress\u0026cs[...]
