---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/air_pollution?appid=be564001d80121d6f14912a80c2e7fd4&lat=50&lon=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":50,"lat":50},"list":[{"main":{"aqi":2},"components":{"co":267.03,"no":0,"no2":0.87,"o3":69.38,"so2":0.19,"pm2_5":1.07,"pm10":1.13,"nh3":1.54},"dt":1709577669}]}'
  recorded_at: Mon, 04 Mar 2024 18:46:14 GMT
recorded_with: VCR 6.2.0
